<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icanhasnom.fliplist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.icanhasnom.fliplist.FlipList"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.icanhasnom.fliplist.SaveCatActivity"
            android:label="@string/title_activity_save_cat" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.icanhasnom.fliplist.Fliplist" />
        </activity>
        <activity
            android:name="com.icanhasnom.fliplist.AddEditListActivity"
            android:label="@string/title_activity_add_edit_cat"
            android:parentActivityName="com.icanhasnom.fliplist.FlipList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.icanhasnom.fliplist.FlipList" />
        </activity>
        <activity
            android:name="com.icanhasnom.fliplist.ItemListActivity"
            android:label="@string/title_activity_item_list"
            android:parentActivityName="com.icanhasnom.fliplist.FlipList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.icanhasnom.fliplist.FlipList" />
        </activity>
        <activity
            android:name="com.icanhasnom.fliplist.Preferences"
            android:label="@string/title_activity_preferences" >
        </activity>
        <activity
            android:name="com.icanhasnom.fliplist.SetPreferenceActivity"
            android:label="@string/title_activity_set_preference" >
        </activity>
        <activity
            android:name="com.icanhasnom.fliplist.AddEditItemActivity"
            android:label="@string/title_activity_add_edit_item" >
        </activity>
        <activity
            android:name="com.icanhasnom.fliplist.AddEditFlistListActivity"
            android:label="@string/title_activity_add_edit_cat_list" >
        </activity>
        <activity
            android:name="com.icanhasnom.fliplist.ExportImportDBActivity"
            android:label="@string/title_activity_export_import_db" >
        </activity>
    </application>

</manifest>